[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start="python app.py"
create_env="python ./utils/scripts.py -c create_env"
delete_env="python ./utils/scripts.py -c delete_env"
db_reset="python ./utils/script_db_reset.py"
init="python ./utils/scripts.py -c flask_init"
migrate="flask --debug db migrate"
upgrade="flask --debug db upgrade"