[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
create_env="python ./utils/scripts.py -c create_env"
delete_env="python ./utils/scripts.py -c delete_env"
init="python ./utils/scripts.py -c flask_init"
migrate="python ./utils/scripts.py -c flask_migrate"
upgrade="python ./utils/scripts.py -c flask_upgrade"
db_reset="python ./utils/scripts.py -c db_reset"
start="python app.py"