{% extends 'layout.html' %}
{% block content %}

<h1 class="title">Welcome to REST API</h1>

<p class="slogan">This template is a base to develop a REST API that seeks to facilitate its development.</p>

<div id="api_img">
    <div>
        <text>
            { API }
        </text>
    </div>
</div>

<section class="section">
    <h3 class="subtitle">technologies included in the template</h3>

    <ul>
        <li>
            REST API: Flask and Python
        </li>
        <li>
            Package Manager: pipenv
        </li>
        <li>
            ORM: SqlAlchemy
        </li>
        <li>
            DB_SQL: MySQL
        </li>
    </ul>

</section>

<section class="section">
    <h3 class="subtitle">technology documentation</h3>
    <ul>
        <li>
            <a href="https://www.python.org/" target="_blank">Python</a>
        </li>
        <li>
            <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>
        </li>
        <li>
            <a href="https://pypi.org/project/pipenv/" target="_blank">pipenv</a>
        </li>
        <li>
            <a href="https://www.sqlalchemy.org/" target="_blank">SqlAlchemy</a>
        </li>
        <li>
            <a href="https://www.mysql.com/" target="_blank">MySQL</a>
        </li>

    </ul>
</section>

{% endblock %}